@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'cocogooseregular';
    src: url('fonts/cocogoose_trial-webfont.eot');
    src: url('fonts/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cocogoose_trial-webfont.woff2') format('woff2'),
         url('fonts/cocogoose_trial-webfont.woff') format('woff'),
         url('fonts/cocogoose_trial-webfont.ttf') format('truetype'),
         url('fonts/cocogoose_trial-webfont.svg#cocogooseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'fiestaFerreroIco';
	src:url('fonts/fiestaFerreroIco.eot?rjfptv');
	src:url('fonts/fiestaFerreroIco.eot?rjfptv#iefix') format('embedded-opentype'),
		url('fonts/fiestaFerreroIco.ttf?rjfptv') format('truetype'),
		url('fonts/fiestaFerreroIco.woff?rjfptv') format('woff'),
		url('fonts/fiestaFerreroIco.svg?rjfptv#fiestaFerreroIco') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fiestaFerreroIco';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icoFB:before {
	content: "\e900";
}
.icon-icoIN:before {
	content: "\e901";
}
.icon-icoYT:before {
	content: "\e902";
}

.maxWidth {
  max-width: 1320px;
  margin: auto;
}

.maxWidthContent {
	max-width: 930px;
	margin: auto;
}

.top,
.footer,
.overlayContent  {
	font-size: 12px;
    font-family: 'cocogooseregular', Arial, sans-serif;
}

.top {
	background: #ffaf4b;
	background: -moz-linear-gradient(45deg, #ffaf4b 0%, #ff4b0a 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffaf4b), color-stop(100%, #ff4b0a));
	background: -webkit-linear-gradient(45deg, #ffaf4b 0%, #ff4b0a 100%);
	background: -o-linear-gradient(45deg, #ffaf4b 0%, #ff4b0a 100%);
	background: -ms-linear-gradient(45deg, #ffaf4b 0%, #ff4b0a 100%);
	background: linear-gradient(45deg, #ffaf4b 0%, #ff4b0a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaf4b', endColorstr='#ff4b0a', GradientType=1);
	width: 100%;
	top: 0;
	z-index: 10;
	position: relative;
	padding: 20px 23px;
	box-sizing: border-box;
}
@media (max-width: 480px) {
	.top {
		padding: 20px 10px;
	}
}
.top .contentIco {
	float: right;
}
@media (max-width: 1050px) {
.top .contentIco {
	margin-top: 5px;
}
}
@media (max-width: 480px) {
.top .contentIco {
	margin-right: 0px;
}
}
.top .contentIco .menu {
	float: left;
	color: #ffffff;
	line-height: 22px;
	margin-right: 12px;
}
@media (max-width: 480px) {
.top .contentIco .menu {
	margin-right: 0;
	float: none;
}
}
.top .contentIco .menu a {
	display: block;
	text-decoration: none;
}
.top .contentIco .menu a:visited {
	color: #ffffff;
	text-decoration: none;
}
.top .contentIco .menu a:link {
	color: #ffffff;
	text-decoration: none;
}
.top .contentIco .menu a.voceMenu {
	position: relative;
	margin-right: 20px;
	float: left;
	font-size: 16px;
}
@media (max-width: 1050px) {
.top .contentIco .menu a.voceMenu {
	font-size: 0.8em;
}
}
@media (max-width: 480px) {
.top .contentIco .menu a.voceMenu {
	font-size: 0.7em;
	margin-right: 10px;
}
}
.top .contentIco .menu a.voceMenu:hover {
	color: #542604;
	text-decoration: none;
}
.top .contentIco .menu a.voceMenu.active {
	color: #542604;
}
.top .contentIco .menu a.voceMenu.active:after {
	content: ' ';
	position: absolute;
	width: 100%;
	bottom: -2px;
	color: #542604;
	border-bottom: 4px solid #542604;
	left: 0;
}
@media (max-width: 768px) {
.top .contentIco {
	margin-top: 0;
}
}
.top .contentIco a {
	cursor: pointer;
}
.top .contentIco .contentSocial {
	float: left;
}
@media (max-width: 480px) {
.top .contentIco .contentSocial {
	display: none;
}
}
.top .contentIco .contentSocial .icoSocial {
	margin-left: 10px;
	float: left;
}
@media (max-width: 480px) {
.top .contentIco .contentSocial .icoSocial {
	margin-left: 8px;
}
}
.top .contentIco .contentSocial a.ico {
	text-decoration: none;
	font-size: 1.5em;
	color: #ffffff;
	line-height: 1em;
}
@media (max-width: 768px) {
.top .contentIco .contentSocial a.ico {
	font-size: 1em;
	line-height: 1.5em;
}
}
@media (max-width: 480px) {
.top .contentIco .contentSocial a.ico {
	font-size: 1em;
	line-height: 2em;
}
}
.top .contentIco .contentSocial a:hover,
.top .contentIco .contentSocial a:active,
.top .contentIco .contentSocial a:link {
	color: #ffffff;
	text-decoration: none;
}
@media (max-width: 768px) {
.top .contentIco .contentSocial span.icoSocial {
	display: none;
}
}
.top .contentIco .contentSocial span {
	font-size: 1em;
	color: #ffffff;
	line-height: 22px;
}
@media (max-width: 768px) {
.top .contentIco .contentSocial span {
	font-size: 0.6em;
}
}


/*FOOTER*/
	.footer {
		z-index: 1111;
		position: relative;
		background: #FFF;
		padding: 20px 20px;
	}
	.footer .text {
		text-align: left;
		padding: 10px;
	}
@media (max-width: 768px) {
	.footer .text {
		display: block;
		font-size: 0.7em;
		color: #743500;
	}
}
	.footer .text a {
		color: #743500;
		cursor:pointer;
	}
	.footer .text a:hover {
		text-decoration: none;
		color: #743500;
	}
	.footer .text a:link {
		text-decoration: none;
		color: #743500;
	}
	
	.logoPrivacy {
	  position: absolute;
	  float: right;
	  margin: 0 20px;
	  top: 26%;
	}
	@media (max-width: 768px) {
	  .logoPrivacy {
		position: relative;
		float: none;
		display: block;
		width: 10%;
		margin: auto;
	  }
	}
	.logoPrivacy img {
	  width: 30px;
	}
	
/*OVERLAY*/
.overlayContent h1,
.overlayContent h2,
.overlayContent h3,
.overlayContent h4,
.overlayContent h5,
.overlayContent h6 {
	font-weight:bold;
}

.overlayContent h1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.overlayContent h4{
	font-size:1.13em;
	    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.overlayContent {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display:none;
	background-color: rgba(73, 33, 0, 0.9);
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
	z-index:9998;
}
.overlayContent .preWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.overlayContent .wrap {
  height: auto;
  margin: auto;
  position: relative;
  margin-top: 0;
}
.overlayContent .wrap .wrapContent {
  padding: 22px 80px 80px 22px;
  max-width: 1120px;
  margin: auto;
}
.overlayContent .wrap .wrapContent.babarum .contenttitle .title {
  color: #d84030;
}
.overlayContent .wrap .wrapContent.classica,
.overlayContent .wrap .wrapContent.babarum {
  display: none;
}
.overlayContent .wrap .wrapContent.caffe {
  display: none;
}
.overlayContent .wrap .wrapContent.coockie,
.overlayContent .wrap .wrapContent.legal {
  display: none;
  max-width: 800px;
  box-sizing:content-box;
}
.overlayContent .wrap .wrapContent.coockie .contentVelina,
.overlayContent .wrap .wrapContent.legal .contentVelina {
  text-align: left;
  box-sizing: border-box;
  padding: 40px 60px;
  font-size: 1.13em;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent.coockie .contentVelina,
  .overlayContent .wrap .wrapContent.legal .contentVelina {
    padding: 0;
  }
}
.overlayContent .wrap .wrapContent.coockie .contentVelina h3,
.overlayContent .wrap .wrapContent.legal .contentVelina h3 {
  text-align: left;
  line-height: inherit;
  font-size: 1.13em;
  margin: 0;
  text-transform: none;
}
.overlayContent .wrap .wrapContent.coockie .contentVelina .table-responsive,
.overlayContent .wrap .wrapContent.legal .contentVelina .table-responsive {
  margin-bottom: 15px;
}
.overlayContent .wrap .wrapContent.coockie .contentVelina .table-responsive table,
.overlayContent .wrap .wrapContent.legal .contentVelina .table-responsive table {
  display: block;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.overlayContent .wrap .wrapContent.coockie .contentVelina .table-responsive table td,
.overlayContent .wrap .wrapContent.legal .contentVelina .table-responsive table td {
  padding: 10px;
  border: 1px solid #3A1B18;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent.coockie .contentVelina .table-responsive,
  .overlayContent .wrap .wrapContent.legal .contentVelina .table-responsive {
    overflow: auto;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent {
    padding: 10px;
  }
}
.overlayContent .wrap .wrapContent .contenttitle {
  text-align: center;
  margin-bottom: 30px;
}
.overlayContent .wrap .wrapContent .contenttitle .title {
    font-family: 'cocogooseregular', Arial, sans-serif;
  font-size: 6em;
  color: #ffb232;
  line-height: 70px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent .contenttitle .title {
    font-size: 4em;
  }
}
.overlayContent .wrap .wrapContent .contenttitle .subTitle {
  font-size: 1.8em;
  color: #ffffff;
  line-height: 25px;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent .contenttitle .subTitle {
    font-size: 1.5em;
  }
}
.overlayContent .wrap .wrapContent .imgIngrediente {
  width: 21%;
  position: absolute;
  z-index: 1;
  top: -68px;
  left: -19px;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent .imgIngrediente {
    display: none;
  }
}
.overlayContent .wrap .wrapContent .imgIngrediente.cafe {
  width: 23%;
  position: absolute;
  z-index: 1;
  top: -116px;
  left: -69px;
}
.overlayContent .wrap .wrapContent .velina {
  background-color: #ffffff;
  border-radius: 10px;

  color: #5e1806;
  position: relative;
}
@media (max-width: 960px) {
  .overlayContent .wrap .wrapContent .velina {
    padding: 30px;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina {
  display: table;
  width: 100%;
  font-family: 'Muli', sans-serif;
}
@media (max-width: 960px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina {
    display: block;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina .left {
  padding: 80px 60px 140px 70px;
}
@media (max-width: 960px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina .left {
    padding: 0;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina .left:before {
  content: '';
  border-left: 1px solid #5e1806;
  position: absolute;
  height: 46%;
  right: 0;
  top: 10%;
}
@media (max-width: 960px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina .left:before {
    border: none;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina .left .titleIngredienti {
  font-size: 3em;
  color: #d84030;
  display: block;
  font-family: 'cocogooseregular', Arial, sans-serif;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .left .ricetta {
  font-weight: 400;
  font-size: 1.3em;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right {
  padding: 50px 70px 30px 60px;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina .right {
    padding: 0;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table {
  font-family: 'Muli', sans-serif;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table td {
  vertical-align: top;
  padding: 5px 5px 5px 0;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #dcccc8;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina .right table td {
    font-size: 1em;
  }
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table td span.voce {
  font-family: 'cocogooseregular', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 17px;
  font-weight: 400;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table td span.subVoce {
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table td span.subVoceRda {
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table td.note {
  font-weight: 400;
  font-size: 1.1em;
  border: none;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table tr.title {
  font-family: 'cocogooseregular', Arial, sans-serif;
  color: #d84030;
  font-size: 1.1em;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .right table tr.title td {
  border-bottom: 3px solid #d84030;
  font-size: 1em;
}
.overlayContent .wrap .wrapContent .velina .contentVelina .cell {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  .overlayContent .wrap .wrapContent .velina .contentVelina .cell {
    display: block;
    width: 100%;
  }
  .overlayContent .wrap .wrapContent .velina .contentVelina .cell.right {
    padding-bottom: 80px;
  }
}
.overlayContent .wrap .wrapContent.caffe .contenttitle .title {
  color: #d84030;
}
.overlayContent .wrap .wrapContent.caffe .velina .contentVelina .right table td.note {
  padding-bottom: 110px;
}
@media (max-width: 480px) {
  .overlayContent .wrap .wrapContent.caffe .velina .contentVelina .right table td.note {
    padding-bottom: inherit;
  }
}
@media (max-width: 768px) {
  .overlayContent .wrap .wrapContent.caffe .velina .contentVelina .right table td.note {
    padding-bottom: inherit;
  }
}
.overlayContent .wrap .closeOverlay {
  position: absolute;
  top: -36px;
  cursor: pointer;
  width: 3%;
  right: -36px;
}
@media (max-width: 480px) {
  .overlayContent .wrap .closeOverlay {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 11%;
  }
}
.overlayContent .wrap .imgFiesta {
  width: 41.5%;
  position: absolute;
  bottom: -116px;
  left: 11%;
}
@media (max-width: 480px) {
  .overlayContent .wrap .imgFiesta {
    display: none;
  }
}
@media (max-width: 768px) {
  .overlayContent .wrap .imgFiesta {
    width: 31%;
    position: absolute;
    top: -5%;
    right: 0;
    left: inherit;
  }
}
.overflowHidden {
	overflow: hidden;
}