@charset "utf-8";
/* CSS Document */

/*MARGIN*/
.mt-0 { margin-top:0;}
.mt-1 { margin-top:calc(1rem * .25);}
.mt-2 { margin-top:calc(1rem * .5);}
.mt-3 { margin-top:calc(1rem);}
.mt-4 { margin-top:calc(1rem * 1.5);}
.mt-5 { margin-top:calc(1rem * 3);}
.mt-6 { margin-top:calc(1rem * 6);}

.mr-0 { margin-right:0;}
.mr-1 { margin-right:calc(1rem * .25);}
.mr-2 { margin-right:calc(1rem * .5);}
.mr-3 { margin-right:calc(1rem);}
.mr-4 { margin-right:calc(1rem * 1.5);}
.mr-5 { margin-right:calc(1rem * 3);}
.mr-6 { margin-right:calc(1rem * 6);}

.mb-0 { margin-bottom:0;}
.mb-1 { margin-bottom:calc(1rem * .25);}
.mb-2 { margin-bottom:calc(1rem * .5);}
.mb-3 { margin-bottom:calc(1rem);}
.mb-4 { margin-bottom:calc(1rem * 1.5);}
.mb-5 { margin-bottom:calc(1rem * 3);}
.mb-6 { margin-bottom:calc(1rem * 6);}

.ml-0 { margin-left:0;}
.ml-1 { margin-left:calc(1rem * .25);}
.ml-2 { margin-left:calc(1rem * .5);}
.ml-3 { margin-left:calc(1rem);}
.ml-4 { margin-left:calc(1rem * 1.5);}
.ml-5 { margin-left:calc(1rem * 3);}
.ml-6 { margin-left:calc(1rem * 6);}

.mx-0 { margin-left:0; margin-right:0;}
.mx-1 { margin-left:calc(1rem * .25); margin-right:calc(1rem * .25);}
.mx-2 { margin-left:calc(1rem * .5); margin-right:calc(1rem * .5);}
.mx-3 { margin-left:calc(1rem); margin-right:calc(1rem);}
.mx-4 { margin-left:calc(1rem * 1.5); margin-right:calc(1rem * 1.5);}
.mx-5 { margin-left:calc(1rem * 3); margin-right:calc(1rem * 3);}
.mx-6 { margin-left:calc(1rem * 6); margin-right:calc(1rem * 6);}

.my-0 { margin-top:0; margin-bottom:0;}
.my-1 { margin-top:calc(1rem * .25); margin-bottom:calc(1rem * .25);}
.my-2 { margin-top:calc(1rem * .5); margin-bottom:calc(1rem * .5);}
.my-3 { margin-top:calc(1rem); margin-bottom:calc(1rem);}
.my-4 { margin-top:calc(1rem * 1.5); margin-bottom:calc(1rem * 1.5);}
.my-5 { margin-top:calc(1rem * 3); margin-bottom:calc(1rem * 3);}
.my-6 { margin-top:calc(1rem * 6); margin-bottom:calc(1rem * 6);}

/*PADDING*/
.pt-0 { padding-top:0;}
.pt-1 { padding-top:calc(1rem * .25);}
.pt-2 { padding-top:calc(1rem * .5);}
.pt-3 { padding-top:calc(1rem);}
.pt-4 { padding-top:calc(1rem * 1.5);}
.pt-5 { padding-top:calc(1rem * 3);}
.pt-6 { padding-top:calc(1rem * 6);}

.pr-0 { padding-right:0;}
.pr-1 { padding-right:calc(1rem * .25);}
.pr-2 { padding-right:calc(1rem * .5);}
.pr-3 { padding-right:calc(1rem);}
.pr-4 { padding-right:calc(1rem * 1.5);}
.pr-5 { padding-right:calc(1rem * 3);}
.pr-6 { padding-right:calc(1rem * 6);}

.pb-0 { padding-bottom:0;}
.pb-1 { padding-bottom:calc(1rem * .25);}
.pb-2 { padding-bottom:calc(1rem * .5);}
.pb-3 { padding-bottom:calc(1rem);}
.pb-4 { padding-bottom:calc(1rem * 1.5);}
.pb-5 { padding-bottom:calc(1rem * 3);}
.pb-6 { padding-bottom:calc(1rem * 6);}

.pl-0 { padding-left:0;}
.pl-1 { padding-left:calc(1rem * .25);}
.pl-2 { padding-left:calc(1rem * .5);}
.pl-3 { padding-left:calc(1rem);}
.pl-4 { padding-left:calc(1rem * 1.5);}
.pl-5 { padding-left:calc(1rem * 3);}
.pl-6 { padding-left:calc(1rem * 6);}

.px-0 { padding-left:0; padding-right:0;}
.px-1 { padding-left:calc(1rem * .25); padding-right:calc(1rem * .25);}
.px-2 { padding-left:calc(1rem * .5); padding-right:calc(1rem * .5);}
.px-3 { padding-left:calc(1rem); padding-right:calc(1rem);}
.px-4 { padding-left:calc(1rem * 1.5); padding-right:calc(1rem * 1.5);}
.px-5 { padding-left:calc(1rem * 3); padding-right:calc(1rem * 3);}
.px-6 { padding-left:calc(1rem * 6); padding-right:calc(1rem * 6);}

.py-0 { padding-top:0; padding-bottom:0;}
.py-1 { padding-top:calc(1rem * .25); padding-bottom:calc(1rem * .25);}
.py-2 { padding-top:calc(1rem * .5); padding-bottom:calc(1rem * .5);}
.py-3 { padding-top:calc(1rem); padding-bottom:calc(1rem);}
.py-4 { padding-top:calc(1rem * 1.5); padding-bottom:calc(1rem * 1.5);}
.py-5 { padding-top:calc(1rem * 3); padding-bottom:calc(1rem * 3);}
.py-6 { padding-top:calc(1rem * 6); padding-bottom:calc(1rem * 6);}

/*DISPLAY*/
.d-none         { display:none !important; }
.d-inline       { display:inline !important; }
.d-inline-block { display:inline-block !important; }
.d-block        { display:block !important; }
.d-table        { display:table !important; }
.d-table-row    { display:table-row !important; }
.d-table-cell   { display:table-cell !important; }
.d-flex         { display:flex !important; }
.d-inline-flex  { display:inline-flex !important; }

.full-height { height:100% !important;}