@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'bulles_de_chocolats';
    src: url("fonts/bulles_de_chocolats.eot");
    src: url("fonts/bulles_de_chocolats.eot?#iefix") format("embedded-opentype"),
         url("fonts/bulles_de_chocolats.woff2") format("woff2"),
         url("fonts/bulles_de_chocolats.woff") format("woff"),
         url("fonts/bulles_de_chocolats.svg#bulles_de_chocolats") format("svg");
    font-weight:normal;
    font-style:normal;
}

html, 
body,
#wrap {
	width:100%;
	height:100%;
}

body {
	margin:0;
	font-family: 'bulles_de_chocolats';
	word-wrap: break-word;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top:0;
    margin-bottom:0;
}

h1 {
	font-size:40px;
}

h2 {
	font-size:38px;
}

.subtitle {
	font-size:26px;
	line-height:32px;
}

h3 {
	font-size:34px;
}

/*VIDEO COVER*/
	#video-content {
	  background:#000;
	  color:#fff;
	}
	
	.videoContainer {
		position:relative;
	}
	
	.logo-fiesta {
		position:absolute;
		top:5%;
		left:5%;
		width:25%;
		max-width:401px;
		height:auto;
		z-index:3;
	}
	
	.mask {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:transparent;
		overflow:hidden;
		z-index:1;
	}
	
	.mask>span {
		/*content: '';*/
		background:transparent;
		/*width:200px;
		height:200px;*/
		width:25%;
		height:auto;
		padding-top:25%;
		border-radius:50%;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		box-shadow: 0px 0px 0px 700px rgba(0, 0, 0, 1);
		/*box-shadow:0px 0px 0px 700px rgb(255, 44, 44);*/
	}
	
/*end - video cover*/

#wave-content {
	color:#632311;
	background: #f89827;
	background: -moz-linear-gradient(-45deg, #f89827 0%, #f25d2b 80%);
	background: -webkit-linear-gradient(-45deg, #f89827 0%,#f25d2b 80%);
	background: linear-gradient(135deg, #f89827 0%,#f25d2b 80%); 
}

#wave-bg {
	padding-top:16%;
	background-image:url(images/wave.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% auto;
    -moz-background-size:100% auto;
}

.play-button {
	cursor:pointer;
	width:20%;
	height:auto;
	padding-top:20%;
	position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
	z-index:2;
	background-image:url(images/icon-play.png);
	background-repeat:no-repeat;
	background-size:100% auto;
}

.youtube img,
.youtube iframe,
.youtube .play-button {
    position: absolute;
}

.youtube {
	background:#000;
    position:relative;
    padding-top:56.25%;
    overflow:hidden;
    cursor:pointer;
}

.youtube img {
	width:100%;
	top:0;
	left:0;
}

.youtube iframe {
    height:100%;
    width:100%;
    top:0;
    left:0;
}

/*CAROUSEL*/
	.carousel-backstage {
		text-align:center;
		overflow:hidden;
	}
	
	.carousel {
		margin-bottom:16px;
		/*min-height:431px;*/
	}
	
	.carousel .img-ghost {
		visibility:hidden;
	}
	
	.carousel .img-ghost,
	.carousel .item {
		width:50%;
	}
	
	.carousel .item {
		position:absolute;
		top:0;
		left:50%;
		transform: translateX(-50%);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		overflow:hidden;
		display: inline-block;
	}
	
	.carousel .item.active-pos {
		z-index:3;
	}
	
	.carousel .item.left-pos,
	.carousel .item.right-pos {
		z-index:2;
		opacity:0.6;
	}
	
	.carousel .item.left-pos {
		-webkit-transform: scale(0.75) translateX(-164%);
		-moz-transform: scale(0.75) translateX(-164%);
		transform: scale(0.75) translateX(-164%);
	}
	
	.carousel .item.back-pos {
		z-index:1;
		opacity:0;
		-webkit-transform: scale(0.50);
		-moz-transform: scale(0.50);
		transform: scale(0.50);
	}
	
	.carousel .item.right-pos {
		-webkit-transform: scale(0.75) translateX(30%);
		-moz-transform: scale(0.75) translateX(30%);
		transform: scale(0.75) translateX(30%);
	}
	
	.carousel-backstage .next,
	.carousel-backstage .prev {
		font-size:60px;
		color:#fff;
	}
/*END*/

@media (max-width:1200px) {
	
}

@media (max-width:992px) {
	
}

@media (max-width:768px) {
	.carousel .img-ghost,
	.carousel .item {
		width:60%;
	}
		
}

@media (max-width:480px) {
	
	h1 {
		font-size:28px;
	}
	
	h2 {
		font-size:26px;
	}
	
	.subtitle {
		font-size:16px;
		line-height:18px;
	}
	
	h3 {
		font-size:22px;
	}
	
	
	.mask>span {
		width:35%;
		padding-top:35%;
	}
	
	.play-button {
		width:30%;
		padding-top:30%;
	}
	
	.carousel .img-ghost,
	.carousel .item {
		width:80%;
	}
}